.slider img {
  height: 320px;
  object-fit: cover;
}

.card-section img {
  height: 150px;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .slider img {
    height: 220px;
    object-fit: cover;
  }
}
